body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

#header {
    text-align: center;
    color: white;
    background-color: #8E7CC3;
    padding: 50px;
    opacity: 0;
}

#headshot {
    border-radius: 50%;
}

.section {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    opacity: 0;
}

.section-header {
    color: #8E7CC3;
}

.right-margin {
    margin-right: 40px;
}

.left-margin {
    margin-left: 40px;
}

.section-image {
    display: flex;
    vertical-align: middle;
}